html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 0; */
	/* padding: 0; */
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
} */
/* ol, ul {
	list-style: none;
} */
/* blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
} */
      *,
      *:after,
      *:before {
        box-sizing: border-box;
      }

      
      html {
        font-size: calc(10 / 1440 * 100vw);
      }

      @font-face {
        font-family: 'Redaction';
        src: url('fonts/Redaction-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .col-0 {
        width: calc(0.5 / 20 * 100vw);
      }

      .col-1 {
        width: calc(1 / 20 * 100vw);
      }
      .col-2 {
        width: calc(2 / 20 * 100vw);
      }
      .col-3 {
        width: calc(3 / 20 * 100vw);
      }
      .col-4 {
        width: calc(4 / 20 * 100vw);
      }
      
      .col-5 {
        width: calc(5 / 20 * 100vw);
      }
      .col-6 {
        width: calc(6 / 20 * 100vw);
      }
      .col-7 {
        width: calc(7 / 20 * 100vw);
      }
      .col-8 {
        width: calc(8 / 20 * 100vw);
      }
      .col-9 {
        width: calc(9 / 20 * 100vw);
      }
      .col-10 {
        width: calc(10 / 20 * 100vw);
      }
      .col-11 {
        width: calc(11 / 20 * 100vw);
      }
      .col-12 {
        width: calc(12 / 20 * 100vw);
      }
      .col-13 {
        width: calc(13 / 20 * 100vw);
      }
      .col-14 {
        width: calc(14 / 20 * 100vw);
      }
      
      .col-15 {
        width: calc(15 / 20 * 100vw);
      }
      .col-16 {
        width: calc(16 / 20 * 100vw);
      }
      .col-17 {
        width: calc(17 / 20 * 100vw);
      }
      .col-18 {
        width: calc(18 / 20 * 100vw);
      }
      .col-19 {
        width: calc(19 / 20 * 100vw);
      }
      .col-20 {
        width: calc(20 / 20 * 100vw);
      }
      
    

      nav {
        /* color: white; */
        font-size: 2.5rem;
        margin: 0%;
        
      }
      .a1 {
        position: absolute;
        right: 5rem;
        top: 2rem;
        width: 20rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }

      @media (min-width: 415px) and (max-width: 768px) {
        nav {
          font-size: 4rem;
        }
      }

      body {
        background: white;
        color: rgb(153, 153, 153);
        font-family: 'Noto Sans', sans-serif;
        font-weight: lighter;
        font-size: 2.5rem;
        margin: 0;
                   
      }
      .div18 {
        display: none;
       }
      
            
      h2 {
        color: rgb(204, 138, 125);
        /* font-size: 6.2rem; */
        font-size: 9.4rem;
        margin-bottom: 6rem;
        margin-top: 0%;
        line-height: 10rem;
      }

      @media (min-width: 415px) and (max-width: 768px) {
        h2 {
          font-size: 12rem;
          margin-bottom: 10rem;
          line-height: 13rem;
        }
      }

      h3 {
        margin-top: 0%;
        margin-bottom: 3.7rem;
        font-size: 4rem;
      }

      @media (min-width: 415px) and (max-width: 768px) {
        h3 {
          font-size: 6rem;
          margin-bottom: 5rem;
        }
      }

      .ul {
        background: white;
        color: rgb(153, 153, 153);
        /* font-size: 3rem; */
        max-width: 80rem;
        margin: 0;
      }

      .parent {
        padding: 0;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-image: url("photos/1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin: 0;
      }

      .child {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-48.5%, -50%);
        margin: 0%;
        width: 100rem;
        height: 40rem;
        mix-blend-mode: multiply;
        
      }
      @media (min-width: 415px) and (max-width: 768px) {
        .parent {
          height: 140rem;
        }
      }
      
      @media (max-width: 415px) {
        .div19 {
          font-size: 100rem;
          line-height: 75rem;
          position: absolute;
          left: 3.5rem;
          /* color: #F5A899; */
          color:rgb(204, 138, 125);
          mix-blend-mode: multiply;
          top: 10vh;
          margin: 0;
          
        }
        .parent {
          background-image: url("photos/главстраница\ моб.jpg");
          background-repeat: no-repeat;
          background-position: center;
          height: 85vh;
        }
        .div18 {
          display: block;

        }
        .div21 {
          display: block;
          width: 100%;
          position: relative;
        }
        .img8 {
          width: 100%;
        }
      }

      
      h1 {
        color:rgb(204, 138, 125);
        font-family: 'Redaction';
        font-style: normal;
        font-weight: normal;
        font-size: 35rem;
        line-height: 48rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      .section {
        height: 15vh;
      }
      @media (min-width: 415px) and (max-width: 768px) {
        h1 {
          font-size: 45rem;
        }
      }

      .child2 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed; 
        right: 0;
        margin: 2rem 4rem 0 0;
        list-style: none;
        z-index: 100;     
        
      }
      @media (max-width: 415px) {
        .child2 {
          display: none;
        }
        .nav {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          position: fixed; 
          right: 3rem;
          top: 4rem;
          width: 20rem;
          height: 20rem;
          list-style: none;
          z-index: 1000;     
        }
      
        .div20{
          display: none;
        }
      }

     
      @media (min-width: 415px) and (max-width: 768px) {
        .child2 {
          margin: 0 4rem 0 0;
        }
      }


      .li1 + .li1 {
        margin: 0;
      }

      .li1 {
        transform: color 0.8s ease;
        padding: 0;
        
      }
      .li1:hover {
        /* color: black; */
        color: rgb(204, 138, 125);
        text-decoration: none;
        /* color: #C16D5D ; */
      }

      .li1:active {
        transform: scale(1.1);
      }
      .parent2 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 73.5rem;
        margin-top: 20rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 0;
        position: relative;
      
      }
      .col-77 {
        width: calc(7 / 20 * 100vw);
      }

      .col-55 {
        width: calc(5 / 20 * 100vw);
      }
          
      .divimg {
        height: 83.5rem;
        position: relative;
       
      } 
      
      .child5 {
        width: 100%;
        position: sticky;
        top: 0;
      }
      .child4 {
        position: relative;
      }
      .child6 {
        position: absolute;
        top: 13.5rem;
        width: 100%;
      }

      .image6 {
        display: none;
        height: 76rem;
      }

      .image7 {
        width: 100%;
      }
      

      @media (max-width: 415px) {

        .child4 {
          position: absolute;
          top: 70rem;
        }
        .col-77 {
          width: 100%;
        }
        p {
          font-size: 6rem;
        }
        .parent2 {
          margin-bottom: 15rem;
          height: 80rem;
          margin-top: 25rem;
          margin-left: 6rem;
          margin-right: 5rem;
        }
        .div10 {
          display: none;
        }
        
      }


      @media (min-width: 415px) and (max-width: 768px) {
        .parent2 {
          height: 118rem;
          
          
        }

        body {
          font-size: 4rem;
        }

        .col-77 {
          width: calc(10 / 20 * 100vw);
        }
        .col-55 {
          width: calc(8 / 20 * 100vw);
        }

        .divimg {
          display: none;
        }

        .child6 {
          top: 18rem;
        }
        .h21 {
          margin-left: calc(2 / 20 *100vw);
        }
        .div10 {
          display: none;
        }
        .div11 {
          width: calc(7 / 20 * 100vw);
        }
        .div12 {
          width: calc(4 / 20 * 100vw);
        }
      }
  
      .parent3 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 65rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 20rem;
        position: relative;
      }

      .space + .space {
        margin-left: calc(1 / 20 * 100vw);
      }

      .image {
        width: 100%;
      }

      .space {
        height: 100%;
      }

      .k3 {
        width: 100%;
        position: relative;
        top: 2rem;
      }

      .k {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 3rem;
      }

      .k2 {
        position: absolute;
        right: calc(2 / 20 * 100vw);
       
      }

      .margin0 {
        margin: 0;
      }

      .margin1 {
        margin-bottom: 3rem;
      }

      .p {
        font-size: 2rem;
        margin-top: 5rem;
      }

      .border {
        border-top: 0.2rem solid rgb(153, 153, 153);
        margin-right: calc(2 / 20 * 100vw);
      }
     
       /* .h33 {
        position: absolute;
        right: 4rem;
      }
      
      
      .p {
        margin-top: 8rem;
        position: absolute;
        bottom: 7rem;
        font-size: 2rem;
        right: 4.3rem;
      }

      .div28 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start; */
      

      @media (max-width: 415px) {
        .image5 {
          width: 100%;
        }

        .space + .space {
          margin-left: 0;
        }

        h3 {
          font-size: 8.5rem;
        }
        h2 {
          font-size: 18rem;
          margin-bottom: 15rem;
          line-height: 19rem;
        }
        .div11 {
          width: 100%;
        }
        .parent3 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          height: 148rem;
          margin-top: 25rem;
          margin-bottom: 15rem;
          margin-left: 6rem;
        }
        
        .p {
          position: relative;
          width: 80%;
          margin-top: 13.5rem;
          font-size: 2rem;
        }
        
        .k {
          margin-bottom: 10rem;
        }

        .border {
          border-top: 0.5rem solid rgb(153, 153, 153);
          margin-right: calc(2 / 20 * 100vw);
        }
        
      }

      @media (min-width: 415px) and (max-width: 768px) {
        .parent3 {
          height: 100rem;

        }
        
        .image6 {
          display: block;
        }

        .image5 {
          display: none;
        }

        .space + .space {
          margin-left: 0;
        }

        .space {
          width: 100%;
        }

        .k2 {
          position: absolute;
          right: calc(3 / 20 * 100vw);
        }

        .border {
          border-top: 0.3rem solid rgb(153, 153, 153);
          margin-right: calc(3 / 20 * 100vw);
        }

        .k {
          margin-bottom: 5rem;
        }

        .p {
          font-size: 3rem;
          margin-top: 8rem;
          width: calc(18 / 20 * 100vw);
        }
      }
      
      .parent4 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 63rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 20rem;
        margin-bottom: 0;
        position: relative;
      }
      
      .div1 {
        position: relative;
        height: 73rem;
      }

      .image2 {
        width: 100%;
        position: sticky;
        top: 0%;
      }

      .image3.3 {
        position: relative;

      }
      
      .image3 {
        max-width: calc(3.7 / 20 * 100vw);
        position: absolute;
        bottom: 0%;
      }
      .div25 {
        display: none;
      }
     
      @media (max-width: 415px) {
        .parent4 {
          margin-top: 25rem;
          height: 128rem;
          margin-bottom: 15rem;
          margin-left: 6rem;
        }
        .ul {
          font-size: 6rem;
          max-width: 100%;
        }
        .div13 {
          width: 100%;
        }
        .li2 + .li2 {
          margin-top: 4rem;
        }

        .image2 {
          width: 50%;
          position: relative;
          
        }
        .div23 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
        }

        .image3 {
          max-width: 50%;
          position: relative;
          
        }
        .nomob {
          display: none;
        }
      }

      @media (min-width: 415px) and (max-width: 768px) {
        .parent4 {
          height: 109rem;
        }
       
        .div1 {
          position: absolute;
          right: 0;
          top: 31.5rem;
        }
        .image3 {
          display: none;
        }
        .div1 {
          width: calc(8 / 20 * 100vw);
        }
        .div13 {
          width: calc(10 / 20 * 100vw);
        }
        .div25 {
          display: block;
        }
      }

      .parent5 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        height: 63rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 20rem;
        margin-bottom: 0;
        position: relative;
      }

      .img {
        width: 100%;
      }

      .p2 {
        margin-top: 0%;
        margin-bottom: 1rem;
      }

      .div2 {
        position: relative;
        height: 73rem;
      }

      .img3 {
        width: 100%;
        position: sticky;
        top: 0%;
      }

      @media (max-width: 415px) {
        .div24 {
          width: 100%;
        }
        .parent5 {
          height: 53rem;
          margin-bottom: 15rem;
          margin-top: 25rem;
        }
        .px471 {
          height: 180.5rem;

        }
      }
      @media (min-width: 415px) and (max-width: 768px) {
        .parent5 {
          height: 91rem;

        }
        .div2 {
          display: none;
        }

        .div14 {
          width: calc(10 / 20 * 100vw);
        }
        .div24 {
          width: calc(6 /20 * 100vw);
        }
        .p4 {
          line-height: 4.5rem;
        }
      }

      .parent6 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        height: 108.5rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 20rem;
        margin-bottom: 0;
        position: relative;
      }
      
      .div3 {
        position: absolute;
        left: calc(8.6 / 20 * 100vw);
      }
      .img4 {
        width: 100%;
      }

      #margin-h2 {
        margin-top: 6rem;
      }
      .div4 {
        position: absolute;
        right: 0;
        top: 53rem;
      }     

      .p1 {
        margin: 0%;
      }
      .div15 {
        display: none;
        width: calc(20 / 20 * 100vw);
        height: 100%;
      }
      
      @media (max-width: 415px) {
        .parent6 {
          margin: 0;
          height: 217rem;
        }
        .div15 {
          display: block;
          width: 100%;
        }
        .img7 {
          width: 100%;
        }
        .div3 {
          width: calc(19 / 20 * 100vw);
          position: absolute;
          left: calc(0.5 / 20 * 100vw);
        }
        .div4 {
          position: absolute;
          right: 0;
          top: 110rem;
          color: white;
        } 
        #margin-h2 {
          position: absolute;
          top: 125rem;
        }
      }

      @media (min-width: 415px) and (max-width: 768px){
        .div15 {
          display: block;
        }
        .parent6 {
          margin-left: 0;
          margin-right: 0;
          height: 217rem;
        }
        .div3 {
          width: calc(19 / 20 * 100vw);
          position: absolute;
          left: calc(0.5 / 20 * 100vw);
        }
        #margin-h2 {
          font-size: 13rem;
          line-height: 14rem;
        }
        .div4 {
          color: white;
          position: absolute;
          right: 0rem;
          top: 55rem;
        }
        .img7 {
          width: 100%;
        }
        
      }
           
      .c1 {
        display: flex;
        flex-direction: column;
        height: 104rem;
        margin-top: 20rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 0;
      }

      .row {
          display: flex;
          flex-direction: row;
      }

      .c2 {
          width: calc(6 / 20 * 100vw);
          height: 54.1rem;
      }
      .c2 + .c2 {
        margin-left: calc(0.5 / 20 * 100vw);
      }

      .row + .row {
          margin-top: calc(0.5 / 20 * 100vw);
      }

      .image9 {
        position: relative;
        
      }
      
      .image4{
        width: 100%;
        height: 54rem;
        /* position: absolute;
        top: 0;  */
      }
      /* .change-size-on-hover-tl {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: top left;
        
      }

      .change-size-on-hover-tl:hover {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-hover-tc {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: top center;
        
      }

      .change-size-on-hover-tc:hover {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-hover-tr {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: top right;
        
      }
      .change-size-on-hover-tr:hover {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-hover-bl {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: bottom left;
        
      }
      .change-size-on-hover-bl:hover {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-hover-bc {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: bottom center;
        
      }
      .change-size-on-hover-bc:hover {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-hover-br {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: bottom right;
        
      }
      .change-size-on-hover-br:hover {
        transform: scale(1.5);
        z-index: 100;
      }

      .change-size-on-active-tl {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: top left;
        
      }

      .change-size-on-active-tl:active {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-active-tr {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: top right;
        
      }
      .change-size-on-active-tr:active {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-active-bl {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: bottom left;
        
      }
      .change-size-on-active-bl:active {
        transform: scale(1.5);
        z-index: 10;
      }

      .change-size-on-active-br {
        transition: transform 0.3s ease-in-out 0.1s;
        transform-origin: bottom right;
        
      }
      .change-size-on-active-br:active {
        transform: scale(1.5);
        z-index: 100;
      } */

      @media (min-width: 415px) and (max-width: 768px) {
        .c1 {
          height: 112rem;
        }
      }

   

      .parent8 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 3.5rem;
        margin-bottom: 0;
        height: 54rem;
        position: relative;
      }
      .parent9 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 3.5rem;
        margin-bottom: 0;
        height: 100rem;
        position: relative;
      }
      .div27 {
        display: none;
      }

      @media (max-width: 415px) {
        .parent7 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          height: 90rem;
          margin-left: 4rem;
          margin-right: 4rem;
          margin-top: 20rem;
          margin-bottom: 0;
          position: relative; 
        }
        .image9 {
          height: 100%;
        }
        .image9 + .image9 {
          margin-left: calc(0.5 / 20 * 100vw);
        }
        .image4 {
          height: 100%;
        }
        .parent8 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          height: 90rem;
          margin-left: 4rem;
          margin-right: 4rem;
          margin-top: 7rem;
          margin-bottom: 0;
          position: relative;
        }
        .div20 {
          display: none;
        }

        .div27 {
          display: block;
        }

        .c1 {
          height: 174rem;
          margin-top: 25rem;
        }

        .c2 {
          width: 100%;
          height: 85rem;
        }
        
      }

      footer {
        background-color: rgb(204, 138, 125);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        height: 69rem;
        margin-top: 18rem;
        padding-top: 5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-bottom: 0;
        position: relative;
        color: white;
        z-index: 1000;
      }
      .img5 {
        width: 100%;
        position: relative;
        top: 3.5rem;
      }
      .img6 {
        position: absolute;
        right: 4rem;
        bottom: 4rem;
        display: flex;
        flex-direction: row;

      }
      .div6 + .div6 {
        margin-top: 1rem;
      }
      .div5 {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        position: absolute;
        bottom: 4.2rem;
      }

      .div6 {
        display: flex;
        flex-direction: row;
        position: relative;
      }
     
      .div7 {
        max-height: 100%;
      }
      
      .div8 {
        margin-top: 0;
        margin-bottom: 0;
      }
      .div8 + .div8 {
        margin-left: 3rem;
       
      }

      .div9 {
        max-width: calc(0.3 / 20 * 100vw);
        max-height: calc(0.3 / 20 * 100vw);
        position: absolute;
        bottom: 0.5rem;
      }

     

      .h23 {
        color: white;
        margin-bottom: 6rem;
      }
      
      a,
      a:visited {
        color: inherit;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      @media (max-width: 415px) {
        .footer {
          height: 100vh;
          font-size: 7rem;
          margin-top: 25rem;
        }
        .div9 {
          max-width: calc(1 / 20 * 100vw);
          max-height: calc(1 / 20 * 100vw);
          position: absolute;
          bottom: 1rem;
        }
        .div5 {
          margin-bottom: 20rem;
        }
        .img6 {
          margin-bottom: 20rem;
          margin-right: 8rem;
        }
        .div8 + .div8 {
          margin-left: 13rem;
         
        }
        .div16 {
          width: calc(15 / 20 * 100vw);
          position: absolute;
          top: 35rem;
        }
  
      }

      @media (min-width: 415px) and (max-width: 768px) {
        .footer {
          height: 100rem;
        }

        .div7 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: row;
        }
        .div16 {
          width: calc(10 / 20 * 100vw);
          position: absolute;
          left: rem;
          top: 25rem;
        }
        .div5 {
          position: absolute;
          bottom: 10rem;
        }
        .div9 {
          max-width: calc(0.5 / 20 * 100vw);
          max-height: calc(0.5 / 20 * 100vw);
        }

        .div8 + .div8 {
          margin-left: 5rem;
         
        }

        .img6 {
          position: absolute;
          bottom: 5.5rem;
          width: 20rem;
          height: 15rem;
          display: flex;
          /* flex-direction: row; */
          align-items: center;
          justify-content: center;
        }
        /* .img7 {
          position: absolute;
          bottom: 0;
        } */
      }
      
